<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/ListeningPage.css">
    <title>Document</title>
</head>

<body>

    <h1>Welcome to the listening page</h1>

    <div class="footer">
        <p>Powered By</p>
        <img class="logo" src="../Assets/Spotify_Full_Logo_RGB_Green.png" href="https://open.spotify.com/"/>
    </div>

</body>

</html>