<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/MainStyles.css">
    <title>Welcome Page</title>
</head>

<body>
        <div class="header-div">
            <h1>Focus Room</h1>
            <button onclick="location.href='/login'">Login</button>
            <button onclick="location.href='/register'">Register</button> 
        </div>
        <div class="main-body-div">
        </div>
</body>

</html>