.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.SpotifyLogo {
    float: right;
}

.logo {
    width: 5vw;
    height: 10vh;
}